

.section {
  padding-top:40px;
  padding-bottom:40px;
  
  
}
.main-heading{
  color:whitesmoke;
  font-size:26px;
  font-family:  'PT Sans Narrow', sans-serif;
  font-weight: lighter;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 30px;
}
.underline {
  height: 05px;
  width: 18rem;
  background-color:#fee440;
  margin-top:  10px;
  margin-bottom:40px;
  margin-left: 650px;
  margin-right: 100px;
}

.container {
  display: flex; 

}
.col{
  font-size: large;
  margin-left: 100px;
  margin-right: 50px;
  color:#fee440;
  font-weight: lighter;
  font-family:  'PT Sans Narrow', sans-serif;
  word-spacing: 5px;
}
.para{
  margin-bottom: 150px;
  font-weight: lighter;
  font-family:  'PT Sans Narrow', sans-serif;
  font-size: 23px;
}
.botton {
  font-family: 'PT Sans Narrow', sans-serif;
 
  font-weight: bold;
}
.line{
  margin-top: 150px;
}
